@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Abhaya Libre', serif;
    color: #FDB515;
    font-size: 55px;

    background-color: #003262;
    height: 90px;
    width: 100vw;
}
